@use '../utils/theme'

.contentFrame
    width: 800px
    height: 70vh
    background: theme.$bgColor
    display: flex
    justify-content: center
    align-items: center
    border-radius: 10%
    // gap: 8rem
    background: theme.$sidebarBg
    padding: 0 2rem
    overflow-x: hidden
    overflow-y: auto
    